$footer-nav-link-text-color:#dadada;
$footer-bg:rgb(44, 44, 44);
footer{
    a{
        text-decoration: none;
    }
    .footer-logo-container{
        text-align: center;
        img{
            width: 70px;
        }
    }
    .me{font-size: 0.7rem; font-style: italic;}
    .container-fluid{
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
        background-color: $footer-bg;
        border-top: 1px solid #e7e7e7;

        .social-icon-list{
            list-style: none;
            display: flex;
            gap: 20px;
            justify-content: center;
            a{
                fill: $footer-nav-link-text-color;
            }
            img{
                width: 50px;
            }
        }
        .inc,.me,.me>a{
            color: $footer-nav-link-text-color;

        }

        .footer-nav{
            nav{
                margin: auto;
                ul{
                    display: flex;
                    gap: 30px;
                    list-style: none;
                    justify-content: center;
                    li{
                        a{
                            color:$footer-nav-link-text-color
                        }
                    }
                }
            }
        }
    }
}