@use 'bootstrap' as *;
@use 'nav';
@use 'about';
@use 'contact';
@use 'pdf-viewer';
@use 'footer';
@use 'welcome';
@use 'carousel';
@use 'tender';

$main-slot-bg: #fff;

header {
    margin: 5rem;
}

.main-slot {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: $main-slot-bg;
    overflow: hidden;
}

.title{
    color: #3e5bae;
    font-size: 20px;
    font-weight: 600;
}